.addContactCard{
    width: 30%;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.addContactCard > * {
    margin: 10px;
}

.addContactCard h2 {
    text-align: center;
}

label{
    margin-bottom: 5px !important;
    display: inline-block;
}

.btn {
    display: block;
    text-align: center;
}