.taskListTable{
    width: 50%;
}

.taskList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
    /* width: fit-content; */
}

.taskList h2 {
    text-align: center;
    margin-bottom: 20px;
}

